services:
  - type: web
    name: micro-ops-backend
    env: node
    rootDir: ./
    plan: free
    healthCheckPath: /health
    initialDeployHook: npm install
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 20.11.1
      # IMPORTANT: Add your secrets (S3, Sentry, OTel) in the Render Dashboard

  - type: web
    name: micro-ops-frontend
    env: static
    rootDir: ./frontend
    # plan: free  <-- REMOVED (Static sites don't use this key)
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist