services:
  - type: web
    name: micro-ops-backend
    env: node
    rootDir: ./
    plan: free
    healthCheckPath: /health
    initialDeployHook: npm install
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 20.11.1

  - type: web
    name: micro-ops-frontend
    env: static
    rootDir: ./frontend
    plan: free
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist